[submodule "Libs/tinyusb"]
	path = Libs/tinyusb
	url = git@github.com:hathach/tinyusb.git
[submodule "Libs/stm32_mw_lwip"]
	path = Libs/stm32_mw_lwip
	url = git@github.com:STMicroelectronics/stm32_mw_lwip.git
